:root{
--verdeClaro:#00BE62;
--azulClaro:#1C6994;
--blanco:#FFFFFF;
--negro:#000000;
--fuente:
}


.header{
  display: block;
 
  
}
.imagen1{
 padding: 10px;
 display: flex;
 text-align: center;
 
}

.maquina{
    background-color: var(--azulClaro);
    text-align: right;
    padding-right: 60px; 
    margin-bottom: 20px;
    color: var(--blanco);

}