:root{
  --verdeClaro:#00BE62;
  --azulClaro:#1C6994;
  --blanco:#FFFFFF;
  --negro:#000000;
  --fuente:
}
    
body {
  margin: 0;
}
    
.header {
 padding: 10px;
}
    
.imagen1{
  width: 125px;
  height: 125px;

}
    
    
.maquina {
 padding: 10px;
 color: var(--negro);
 background-color: var(--verdeClaro); 
 display: inline-block; 
 margin: 0; 
 border-radius: 20px;
 color: var(--blanco);
  margin-right: 30px;
}
    
.frase {
  position: absolute;
  top: 50px;
  right: 20px; 
  text-align: right;
  font-size: 25px;
      
}
    
    
    
.contenedor{
  margin-top: 10px;
  
}

.contenedor-fondo{
  width: 100%; 
  display: block; 
  margin: auto; /* Centra la imagen horizontalmente */;
  height: 90%;
  filter: blur(3px); /*imagen borroso*/
    
      
}
    
    
.contenedor-fondo--articulo {
  position: absolute;
  top: 50%;
  margin-left: 175px;
  transform: translateY(-50%);
  background-color: var(--blanco);
  color: var(--negro); 
  padding: 10px;
  border-radius: 20px; 
  font-size: 40px;
     
}
    
    
    
.contenedor-fondo--articulo span{
  display: block;
  font-weight: bold;
  font-size: 60px; 
  margin-bottom: 5px; 
  color: var(--verdeClaro);
      
}
    
    
.parrafo{
  text-align: center;
}
    
.parrafo-frases{
  color: var(--verdeClaro);
  font-size: 38px;
}

.contenido {
  display: grid;  
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 1rem; 
  text-align: center;
  padding: 40px;
  margin: auto; 
  max-width: 1000px; 
}
   
.snacks,
.fresas,
.sumos {
  background-color: var(--azulClaro);
  margin: 40px 20px; 
  padding:  50px 30px; ;
  border-radius: 10px;
}


.snacks-ima1,
.fresas-ima2,
.sumos-ima3 {
  width: 200px; 
  height: auto;
}

.snacks-escritura,
.fresas-escritura,
.sumos-escritura {
  color: var(--blanco);
  width: 100%;
  height: 50%;
}

.incentivo{
  padding: 10px;
  color: var(--negro);
  background-color: var(--verdeClaro); 
  display: inline-block; /* Hace que el fondo se ajuste al ancho del texto */
  margin: 0; 
  border-radius: 20px;
  color: var(--blanco);
  margin-left:  80px;
  font-size: 30px;
}

.lema{
 margin-right: 70px;  
 position: relative;
 top: 20px; 
}

.dcr{
 float: right;
 width: 500px;
 margin-left: 100px;
 position: relative;
 bottom: 90px;
 
}


.lema-team{
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  padding: 40px;
  width: 40%;
  height: auto;
  
}


footer {
  display: flex;
  justify-content: space-between;
  text-align: end;
  background-color: var(--azulClaro); 
  height: auto;
  width: 100%;
  
}

.global {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
 
 
  
}

.dispensadora {
 
  width: 69%;
  text-align: left;
  margin-left: 30px;

}

.dispensadora-im{
  width: 125px;
  height: 125px;
  
}
.whatsapp,
.instagram,
.email {
  display: flex;
  align-items: center;
  justify-self: end; 
  
}

.whatsapp-logo,
.instagram-logo,
.email-logo {
  margin-right: 13px;
}

.whatsapp-parrafo,
.instagram-parrafo,
.email-parrafo {
  color: var(--blanco);
  
}



